:root {
    /* --- PALETA DE COLORES --- */
    --color-fondo-principal: #f5f3f0;
    --color-primario: #8b8878;        
    --color-secundario: #737063;      
    --color-blanco: #ffffff;
    
    /* Colores de Texto */
    --color-texto-principal: #33322e; 
    --color-texto-claro: #6b6965;     
    --color-texto-hero: #ffffff;      /* Para que se lea claro sobre la foto */

    /* Colores para Componentes */
    --color-fondo-tarjeta: #ffffff;
    --color-fondo-tag: rgba(255, 255, 255, 0.85); 
    --color-borde: #dcd9d4;           
    --color-gris-imagen: #e5e7eb;

    /* --- TIPOGRAFÍA --- */
    --fuente-titulos: 'Playfair Display', serif; 
    --fuente-textos: 'Inter', sans-serif;        

    /* --- ESPACIADOS Y TAMAÑOS --- */
    --radio-borde-tarjetas: 16px;
    --radio-borde-botones: 8px;
    --sombra-tarjeta: 0 4px 6px rgba(0, 0, 0, 0.05);
    --sombra-tarjeta-hover: 0 10px 20px rgba(0, 0, 0, 0.1);
}